html, body, .adjust-height {
    height: 100vh;
}

body {
    font-family: 'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica',
      'Arial', sans-serif;
    color: rgb(255, 255, 255);
    background: linear-gradient(90deg, rgba(0,0,0,1) 45%, rgba(94,94,94,0.6615021008403361) 100%, rgba(245,245,245,0) 100%);

}

h1, h2, li {
    color: #ffffff;
    text-shadow:  1px 1px 3px #000000;
}   

h1 {
    font-size: 36px;
}

h2 {
    font-size: 30px;
}

.unstyle-list{
    padding: 0;
}

li {
    font-weight: bold;
    font-size: 28px;
    display: inline;
}

span {
    position: absolute;
    width: 25%;
    height: 100%;
    background-color: var(--c);
    transform: translateY(150%);
    border-radius: 50%;
    left: calc((var(--n) - 1) * 25%);
    transition: 0.5s;
    transition-delay: calc((var(--n) - 1) * 0.1s);
    z-index: -1;
}


.bgWrap {
    z-index: -1;
    opacity: 40%;
    position: fixed;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    
}

a.button {
    padding: 0.7em 3em;
    border-radius: 0.2em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto',sans-serif;
    font-weight: 400;
    color:#FFFFFF;
    background-color:#e733ff;
    box-shadow:inset 0 -0.6em 1em -0.35em rgba(0,0,0,0.17),inset 0 0.6em 2em -0.3em rgba(255,255,255,0.15),inset 0 0 0em 0.05em rgba(255,255,255,0.12);
    text-align:center;
}

a.button:active{
    box-shadow:inset 0 0.6em 2em -0.3em rgba(0,0,0,0.15),inset 0 0 0em 0.05em rgba(255,255,255,0.12);
}

@media all and (max-width:30em){
a.button {
    display: block;
    margin: 0.4em auto;
}
}