body {
    font-family: 'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica',
      'Arial', sans-serif;
    padding: 0px 20px 60px;
    margin: 0 auto;
    color: rgb(255, 255, 255);
    
}

h1, h2, li {
    color: #E480ED;
    text-shadow: #E5C3E8;
}   

h1 {
    font-size: 36px;
}

h2 {
    font-size: 32px;
}

li {
    font-weight: bold;
    font-size: 28px;
    display: inline;
}

.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    flex: 1;
}

.topmenu {
    flex: 1;
    max-width: fit-content;
}

.content {
    margin: 150px 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.descricao {

    max-width: 33%;
    flex: 1;
}

.space {
    flex: 1;
}

.bgWrap {
    opacity: 100%;
    position: fixed;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    z-index: -1;
}